@media print, (max-width: 1023px) {

    :root {
        --font_size_title: 28px;
    }
    .post .info .photo:before {
        width: 56px;
        height: 56px;
    }
    header {
        margin-bottom: 0;
    }
    .post_wrap {
        width: calc(100% - 162px);
    }
    .post_wrap:before {
        left: -107px;
    }
   




}